<footer>
  <p>Built by Jazz Cruz</p>
  <p>⭐ this repo on 
    <a href=" https://github.com/jazellecruz/weather-labs-web-app.git" 
      target="_blank"
      rel="noopener noreferrer">
      GitHub
    </a>
  </p>
</footer>