<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WeatherLabs</title>
    <link rel="icon" type="image/x-icon" href="images/weatherLabs32x32.png">
    <link rel="stylesheet" href="css/error.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-container">
        <img src="images/robot-error.png" alt="sadcat.png">
        <div class="error-container">
            <h1>Oops! Something went wrong </h1>
            <p class="sub-header">We might have a <span class="error-code"><%= error %></span> error here...</p>
            <p class="main-message">Don't worry! You can come back later and try again.</p>
            <button onclick="window.location='/';" class="redirect-button">Go back</button>
        </div>
    </div>
</body>

</html>

