<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather Web App</title>
    <link rel="icon" type="image/x-icon" href="images/sun.ico">
    <link rel="stylesheet" href="css/error.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-container">
        <img src="images/sadcat.png" alt="sadcat.png">
        <h1>Oh No!</h1>
        <p class="sub-header">We might have a <span class="error">404 </span>error...</p>
        <p class="main-message">Don't panic! We just can't find the page you're looking for. For the meanwhile, enjoy the cat photo above.</p>
        <button onclick="window.location='/';" class="redirect-button">GO BACK</button>
    </div>
</body>

</html>

