<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer's Note</title>
    <link rel="icon" type="image/x-icon" href="images/sun.ico">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/note.css">
</head>

<body>
    <div class="main-container">
        <h1  class ="text-emphasize">Hello!</h1>
        <p>
            Thanks for viewing my weather web app! This was such a fun project to make. 
            The CSS part was such a huge pain in the butt, 
            but I enjoyed and learned tremendously nonetheless.
        </p>
        <p>
            All the artworks I used for this project of mine are from <a class ="text-emphasize" href="https://dribbble.com/">Dribbble.</a> 
            The credits go to the respective owners.
            You can check out their other awesome artworks by clicking their name from the bottom left corner of the art.
        </p>
        <p>
            I am a passionate advocate for helping others improve by sharing knowledge. 
            If you would like to share on how I can improve my web app, 
            please don't hesitate to make a pull request  for this 
            <a class ="text-emphasize" href="https://github.com/jazellecruz/Weather-Web-App"
            target="_blank" rel="noopener noreferrer"> GitHub repository</a>.
        </p>
        <p>Any feedback is welcome.</p>
        <p class="developer-name">Jazelle</p>
    </div>
</body>

</html>