
.brand-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.main-container.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 32px;
    box-sizing: border-box;
    max-width: 100%;
    border-radius: 12px;
    padding-top: 15vh;
    text-align: center;
}

img{
    width: 7rem;
}

.brand-name{
    font-size: 38px;
}

.brand-container p:last-of-type{
    font-size: 18px;
}

input {
    width: 13rem;
    height: 3rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #b1b1b1;
    outline: 0;
    font-size: 1.2rem;
    background-color: transparent;
    padding: 8px;
    color: inherit;
    text-align: inherit;
}

p span{
    color:#dbad42
}

form {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

button {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #dbad42;
    font-size: 1rem;
    border-radius: 100%;
    border: none;
}

@media only screen and (max-height: 685px) {
    .main-container.form{
        padding-top: 10vh;
    }
    
}
